.header-background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; /* Ensure background is behind content */
}

.header-background svg {
  didplay: block;
  width: 100%;
  height: auto;
}
